<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>WiiUSB</string>
	<key>CFBundleIdentifier</key>
	<string>fish.goldfish64.Wiintosh.WiiUSB</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleVersion</key>
	<string>0.5.1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>WiiEHCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>fish.goldfish64.Wiintosh.WiiUSB</string>
			<key>IOClass</key>
			<string>WiiEHCI</string>
			<key>IONameMatch</key>
			<array>
				<string>NTDOY,ehci</string>
				<string>usb</string>
			</array>
			<key>IOProbeScore</key>
			<integer>250</integer>
			<key>IOProviderClass</key>
			<string>IOPlatformDevice</string>
		</dict>
		<key>WiiOHCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>fish.goldfish64.Wiintosh.WiiUSB</string>
			<key>IOClass</key>
			<string>WiiOHCI</string>
			<key>IONameMatch</key>
			<array>
				<string>NTDOY,ohci</string>
				<string>usb</string>
			</array>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOPlatformDevice</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>1.8</string>
		<key>com.apple.kernel.iokit</key>
		<string>1.1</string>
		<key>com.apple.kernel.libkern</key>
		<string>1.1</string>
		<key>com.apple.kernel.mach</key>
		<string>1.1</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
